      H1 { color : red; text-align: center }
      H2 { color : darkred; text-align: center }
      H3 { color : blue}
      H4 { color : darkblue}
      EM { color : red; font-weight : bold}
.mquote1 { color : #ff4040 }
A:link	 {TEXT-DECORATION: none; color: blue}
A:active {TEXT-DECORATION: none;color: red}
A:visited {TEXT-DECORATION: none; color : #006000}
A:hover	 {TEXT-DECORATION: underline overline; color : #00aa00; background: #f2ee40}
